[Desktop Entry]
Name=ubunsys
Version=1.0
Exec=gksudo /usr/bin/ubunsys
Comment=Software installer of a helpful package list, able to do changes on system configuration, updates, execute improves, fixes, executing actions to blow of mouse click.
Icon=/usr/share/icons/hicolor/256x256/apps/ubunsys.png
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;
GenericName=Installer & system configurer
Keywords=installer;apps;configure;
Name[en_GB]=ubunsys
Name[en_US]=ubunsys
Name[es_ES]=ubunsys