Source: ubunsys
Section: admin
Priority: optional
Maintainer: Antonio David Gellida Lavara <adgellida@gmail.com>
Build-Depends: debhelper (>= 9), qtbase5-dev, qtbase5-dev-tools, qt5-qmake
Standards-Version: 4.4.0
Homepage: https://launchpad.net/~adgellida/+archive/ubuntu/ubunsys
#Vcs-Git: git://anonscm.debian.org/collab-maint/ubunsys.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/ubunsys.git

Package: ubunsys
Architecture: amd64
Depends: libqt5gui5, libqt5widgets5, libqt5core5a, libqt5sql5, git, wget, xdg-utils, nano, xterm, ufw, curl, sqlite3, sudo, ${misc:Depends}
Description: Software installer of a helpful package list, able to do changes on system configuration, updates, execute improves, fixes, executing actions to blow of mouse click.