Package: ubunsys
Version: 2017.04.24
Maintainer: Antonio David Gellida Lavara <adgellida@gmail.com>
Section: utils
Source: https://github.com/adgellida/ubunsys
Homepage: https://www.adgellida.byethost11.com/proyectos/
Architecture: all
Priority: optional
Depends: debhelper (>=9), qtbase5-dev, qtbase5-dev-tools
Description: Batch install apps and configure system
 You can select a lot of apps and install them clicking only a button.
 .
 You can configure, repair... system with a few options.
 .
 Be careful! These initial versions has a lot of bugs and disabled functionalities.
 .
 If you want to help on this dev, say to me.
 .
 If you need help about compilation and packaging I have basic notions, ask me.
 .
 adgellida@gmail.com
 .
 https://github.com/adgellida/ubunsys
 .
 https://launchpad.net/~adgellida/+archive/ubuntu/ubunsys