[Desktop Entry]
Name=ubunsys
Version=1.0
Exec=/usr/bin/ubunsys
Comment=Batch install apps and configure system
Icon=/usr/share/pixmaps/ubunsys.ico
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=Utility;
GenericName=Installer & system configurer
Keywords=installer;apps;configure;
Name[en_GB]=ubunsys
Name[en_US]=ubunsys
Name[es_ES]=ubunsys