[Desktop Entry]
Name=ubunsys
Version=1.0
Exec=/usr/bin/ubunsys
Comment=Configure your Ubuntu!
Icon=/usr/share/icons/hicolor/256x256/apps/ubunsys.png
Type=Application
Terminal=false
StartupNotify=false
Encoding=UTF-8
Categories=System;
GenericName=Installer & system configurer
Keywords=installer;apps;configure;
Name[en_GB]=ubunsys
Name[en_US]=ubunsys
Name[es_ES]=ubunsys
